
#el_body {
    background-color: cadetblue;
}


.container {
    border: 5px solid black;
    border-radius: 20px;
    background-color: #f8f9fa;
}


input.is-invalid, select.is-invalid {
    border-color: red;
}



#boton_Enviar{
    float: right;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#boton_Cancelar{
    float: right;
    margin-top: 80px;
    
    }